<app-default-login-layout>
    <div class="title-section">
        <h2>Criar uma conta</h2>
    </div>
    
    <div class="mb-6">

    </div>

    <form>
        <div class="mb-6">
            <label for="email" class="block mb-2 text-sm font-normal text-grayText dark:text-white">Seu email</label>
            <input type="email" id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="joao.silva@email.com" required />
        </div> 
        <div class="mb-6">
            <label for="password" class="block mb-2 text-sm font-normal text-grayText dark:text-white">Senha</label>
            <input type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="•••••••••" required />
        </div>
        <div class="mb-6">
            <label for="password" class="block mb-2 text-sm font-normal text-grayText dark:text-white">Repetir senha</label>
            <input type="password" id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="•••••••••" required />
        </div> 
        <button type="button" class="text-white bg-gradient-to-r from-blue-500 via-blue-600 to-blue-700 hover:bg-gradient-to-br focus:ring-4 focus:outline-none focus:ring-blue-300 dark:focus:ring-blue-800 font-medium rounded-lg text-sm w-full px-5 py-2.5 text-center me-2 mb-2">Criar conta</button>
    </form>


</app-default-login-layout>
