<div class="container mx-auto">
  
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-4 w-3/4">
    
    <div class="bg-white p-6 rounded-lg border border-gray-200 flex">
      <div>
        <h2 class="text-lg text-gray-600 font-semibold mb-2">{{dayPeriod}}</h2>
        <p class="text-lg font-semibold text-gray-700">Cleber</p>
      </div>
      <div class="sm:ml-6">
        <ng-container>
          <div *ngIf="dayPeriod=='Bom dia'"> <img src="../../../assets/svg/morning-icon.png" alt="imgmorning" class="w-14 h-14 "> </div>
          <div *ngIf="dayPeriod=='Boa Tarde'"> <img src="../../../assets/svg/afternoon-icon.png" alt="imgafternoon" class="w-14 h-14 "></div>
          <div *ngIf="dayPeriod=='Boa noite'">  <img src="../../../assets/svg/night-icon.png" alt="imgnight" class="w-14 h-14 "> </div>
        </ng-container>
        
      </div>
    </div>
   
    <div class="bg-white p-6 rounded-lg border border-gray-200 flex items-center">
     
      <div class="h-full w-1 bg-gray-300 rounded-full mr-4"></div>
      <div>
        <h1 class="text-lg text-gray-600 font-semibold mb-2">Saldo Geral</h1>
        <p class="text-lg font-semibold text-gray-800">R$ 35.000,25</p>
      </div>
    </div>
  </div>
 
  <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
  
    <div class="bg-white p-8 rounded-lg border border-gray-200 flex flex-col justify-center items-center m-2 h-14">
      <h2 class="text-lg text-gray-600 font-semibold mb-2">Receita Mensal</h2>
      <p class="text-lg text-gray-700 text-green-500">+  {{ totalMonthIncome | currency : 'BRL' }}</p>
    </div>
    
    <div class="bg-white p-8 rounded-lg border border-gray-200 flex flex-col justify-center items-center m-2 h-14">
      <h2 class="text-lg text-gray-600 font-semibold mb-2">Despesa Mensal</h2>
      <p class="text-lg text-gray-700 text-red-500">-  {{ totalMonthExpense | currency : 'BRL'}}</p>
    </div>
    
    <button class=" font-semibold hover:bg-gray-100 text-gray-600 bg-white p-8 rounded-lg border border-gray-200 flex flex-col justify-center items-center m-2 h-14 text-lg relative">
      Relatório do mês
      <img src="../../../assets/svg/chart-icon.png" alt="Ícone de gráfico" class="w-10 h-10 ">
    </button>
  </div>
</div>

