<div class="container mx-auto p-4">
  <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-4">
    <div class="flex flex-col sm:flex-row sm:space-x-4 w-full">
      <div class="bg-white p-6 rounded-xl flex items-center justify-between w-full sm:w-2/5">
        <div>
          <h2 class="text-lg text-gray-600 font-semibold mb-2">{{ dayPeriod }}</h2>
          <p class="text-lg font-semibold text-gray-600"></p>
        </div>
        <div class="ml-4">
          <ng-container>
            <div *ngIf="dayPeriod == 'Bom dia'">
              <img src="../../../assets/svg/morning-icon.png" alt="imgmorning" class="w-14 h-14">
            </div>
            <div *ngIf="dayPeriod == 'Boa Tarde'">
              <img src="../../../assets/svg/afternoon-icon.png" alt="imgafternoon" class="w-14 h-14">
            </div>
            <div *ngIf="dayPeriod == 'Boa noite'">
              <img src="../../../assets/svg/night-icon.png" alt="imgnight" class="w-14 h-14">
            </div>
          </ng-container>
        </div>
      </div>

      <div class="bg-white p-6 rounded-xl  flex items-center w-full sm:w-3/5">
        <div class="h-full w-1 bg-gray-300 rounded-full mr-4"></div>
        <div>
          <h1 class="text-lg text-gray-600 font-semibold mb-2">Saldo Geral</h1>
          <p class="text-lg font-semibold text-gray-700">{{ balance | currency: 'BRL' }}</p>
        </div>
      </div>
    </div>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-3 gap-4">
    <div class="bg-white p-4 rounded-xl shadow-md hover:shadow-xl flex flex-col justify-center items-center h-20">
      <h2 class="text-lg text-gray-600 font-semibold mb-2">Receita Mensal</h2>
      <p class="text-lg text-gray-700 text-green-500">+ {{ totalMonthIncome | currency: 'BRL' }}</p>
    </div>

    <div class="bg-white p-4 rounded-xl shadow-md	hover:shadow-xl flex flex-col justify-center items-center h-20">
      <h2 class="text-lg text-gray-600 font-semibold mb-2">Despesa Mensal</h2>
      <p class="text-lg text-gray-700 text-red-500">- {{ totalMonthExpense | currency: 'BRL' }}</p>
    </div>

    <button (click)="navigateTo('/reports')" class="font-semibold hover:bg-gray-100 text-gray-600 bg-white p-4 rounded-xl shadow-md	 flex flex-col justify-center items-center text-lg relative h-20">
      Relatório do mês
      <img src="../../../assets/svg/chart-icon.png" alt="Ícone de gráfico" class="w-10 h-10 mt-2">
    </button>
  </div>
</div>
