@import "../../../styles/variables.scss";


main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: $gray-background;
    min-height: 100vh;
    width: 100%;
    margin: 0px;
    padding: 0px;
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    overflow-x: hidden;
    border-radius: 10px;
    .sign-in{
        height: 600px;
        width: 500px;
        border-radius: 10px;
        background-color: $white-default;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        
        .header-section {
            border-radius: 10px 10px 0 0;
            background-color: $gray-background;
            color: $secundary-color;
            height: 120px;
            width: 500px;
            display: flex;
            align-items: center;
            justify-content: center; 
            h1 {
                margin: 5px;
                color: $secundary-color;
                font-size: 25px;
                font-weight: 500;
            }
            img{
                width:100px;  
            }
            
        }
        .title-section{
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
        }
        .main-section{
            // width: 500px;
            // border-radius: 10px;
            // display: flex;
            // flex-direction: column;
            // align-items: center;
            // justify-content: center;
            padding: 25px;
            h2 {
                color: $secundary-color;
                font-size: 25px;
                font-weight: 400;
            }
        }
    }

}