<app-default-login-layout>
    <div class="title-section">
        <h2>Acesse sua conta</h2>
    </div>
    
    <div class="mb-6">

    </div>

    <form #userLoginData="ngForm" (ngSubmit)="onSubmit(userLoginData)">
        <div class="mb-6">
            <label for="email" class="block mb-2 text-sm font-normal text-grayText dark:text-white">Email</label>
            <input type="email" name="email" ngModel id="email" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-darkGreen focus:border-darkGreen block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="joao.silva@email.com" required />
        </div> 
        <div class="mb-6">
            <label for="password" class="block mb-2 text-sm font-normal text-grayText dark:text-white">Senha</label>
            <input type="password" name="password" ngModel id="password" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-darkGreen focus:border-darkGreen block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" placeholder="•••••••••" required />
        </div> 
        <div class="flex items-start mb-2">
            <label for="remember" class="ms-2 text-xs font-bold text-grayText dark:text-gray-300">Esqueci minha senha </label>
        </div>
        <button type="submit" class="text-white bg-primaryGreen hover:bg-darkGreen focus:border-transparent dark:focus:ring-darkGreen font-medium rounded-lg text-sm w-full px-5 py-3.5 text-center me-2 mb-2">Entrar</button>
        <div class="flex items-start mb-6">
            <label for="remember" class="ms-2 mt-2 text-xs font-bold text-grayText dark:text-gray-300">Ainda não possui uma conta? <a routerLink="/sign-up" routerLinkActive="active" class="text-primaryGreen hover:underline dark:text-primaryGreen">Inscrever-se</a></label>
        </div>
    </form>

</app-default-login-layout>
<router-outlet></router-outlet>