<div class="w-full h-full bg-white rounded-lg ">
  <!-- Seção para a imagem e texto -->
  <div class="flex items-center mb-4">
    <img src="../../../assets/svg/top-expenses-icon.png" alt="Ícone de despesas" class="w-12 h-12 mr-2">
    <h3 class="text-base font-bold text-gray-500 text-xl">Maiores despesas do mês</h3>
  </div>

  <div>
    <apx-chart
      [series]="chartOptions.series"
      [chart]="chartOptions.chart"
      [xaxis]="chartOptions.xaxis"
      [tooltip]="chartOptions.tooltip"
      [plotOptions]="chartOptions.plotOptions"
      [legend]="chartOptions.legend"
      [dataLabels]="chartOptions.dataLabels"
      [grid]="chartOptions.grid"
      [yaxis]="chartOptions.yaxis"
    ></apx-chart>
  </div>
</div>
