
<div class="w-full h-full bg-white rounded-lg  md:p-6">
  <dl>
    <dt class="text-base font-bold text-gray-500 text-xl pb-1"><h3> Maiores despesas do mês</h3></dt>
  </dl>
 
    <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [tooltip]="chartOptions.tooltip"
    [plotOptions]="chartOptions.plotOptions"
    [legend]="chartOptions.legend"
    [dataLabels]="chartOptions.dataLabels"
    [grid]="chartOptions.grid"
    [yaxis]="chartOptions.yaxis"
  ></apx-chart>

  
</div>
