<section class="navbar-section fixed top-0 w-full z-50 bg-white shadow">
  <app-navbar></app-navbar>
</section>

<section class="cards-section mt-20">
  <div class="px-4 pt-6 2xl:px-0">
    <div class="grid m-2 gap-4 xl:grid-cols-2 2xl:grid-cols-3">
      <div
        class="bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2  sm:p-6 ">
        <app-general-information></app-general-information>
      </div>
      <div
        class=" bg-write-600 border border-gray-200 rounded-lg shadow-sm 2xl:col-span-1  sm:p-6 ">
        <app-total-expenses></app-total-expenses>
      </div>
    </div>
    <div class="m-2 grid  bg-write-600 gap-4 xl:grid-cols-2 2xl:grid-cols-3">
      <div class="bg-write border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2  sm:p-6 ">
          <app-upcoming-expenses></app-upcoming-expenses>
      </div>
      <div class=" bg-write-600 border border-gray-200 rounded-lg shadow-sm  sm:p-6">
        <app-top-expenses></app-top-expenses>
      </div>
    </div>
    <div class="grid lg:grid-cols-4 xl:grid-cols-2 2xl:grid-cols- m-2 gap-4">
      <div class="p-4 bg-white border border-gray-200 rounded-lg shadow-sm 2xl:col-span-2  sm:p-6 ">
        <app-home-chart></app-home-chart>
      </div>
    </div>
 
  </div>
</section>