
<div class="items-center  bg-white shadow-sm sm:flex-center ">
  <div class="w-full">
 
    <span class="text-xl font-bold leading-none text-gray-600 sm:text-xl ">Despesas por categoria</span>
  </div> 
  <!-- <div class="w-full">
    <h3 class="text-base font-normal text-gray-500 dark:text-gray-400">Total de Contas a Pagar</h3> 
    <span class="text-2xl font-bold leading-none text-gray-600 sm:text-3xl ">R$ {{ totalToPay }}</span>
  </div>  -->
  
  <div id="chart ">
    <apx-chart
    [series]="chartOptions.series"
    [chart]="chartOptions.chart"
    [xaxis]="chartOptions.xaxis"
    [plotOptions]="chartOptions.plotOptions"
    [fill]="chartOptions.fill"
    [legend]="chartOptions.legend"
    [dataLabels]="chartOptions.dataLabels"
    [tooltip]="chartOptions.tooltip"
    [grid]="chartOptions.grid"
    [yaxis]="chartOptions.yaxis"
    [stroke]="chartOptions.stroke"
    [states]="chartOptions.states"
    [labels]="chartOptions.labels"
    [responsive]="chartOptions.responsive"
  ></apx-chart>
  </div>
  
    
 
</div>




  
   


 

  
    
