

<section class="navbar-section">
    <app-navbar></app-navbar>
</section>
    

<section class=" p-3 sm:p-5 ">
    <div class="mx-auto max-w-screen-2xl px-4 lg:px-12">
        <div class="bg-white dark:bg-gray-800 relative shadow-md sm:rounded-lg overflow-hidden p-2">
            
            <div class="flex flex-col md:flex-row items-center justify-between space-y-3 md:space-y-0 md:space-x-4 p-4">
        
                <div class="relative w-full md:w-1/2">
                    <form class="flex items-center">
                        <label for="simple-search" class="sr-only">Search</label>
                        <div class="relative w-full">
                            <div class="relative flex items-center bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus-within:ring-primary-500 focus-within:border-primary-500">
            
                                <div class="relative w-full">
                                    <div class="absolute inset-y-0 left-0 flex items-center pl-3 pointer-events-none">
                                        <svg aria-hidden="true" class="w-5 h-5 text-gray-500 dark:text-gray-400" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" d="M8 4a4 4 0 100 8 4 4 0 000-8zM2 8a6 6 0 1110.89 3.476l4.817 4.817a1 1 0 01-1.414 1.414l-4.816-4.816A6 6 0 012 8z" clip-rule="evenodd" />
                                        </svg>
                                    </div>
                                    
                                    <input type="text" [(ngModel)]="filterText" name="filterText" class="bg-gray-50 border-0 text-gray-900 text-sm rounded-lg focus:ring-0 focus:border-0 block w-full pl-10 p-2.5" placeholder="Buscar por nome">
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                
                
                <div class="w-full md:w-auto flex flex-col md:flex-row space-y-2 md:space-y-0 items-stretch md:items-center justify-end md:space-x-3 flex-shrink-0">
                    <button type="button" (click)="openAddModal('incoming')" class="flex items-center justify-center text-gray-700 bg-primary-700 hover:bg-gray-100  focus:ring-4 focus:ring-gray-200 font-medium  border border-gray-200 rounded-lg text-sm px-4 py-2 ">
                        <img src="../../../assets/pages/launches/receita.png" alt="Receita" width="30" height="30" style="margin-right: 8px">

                        Receita
                    </button>
                    <button type="button" (click)="openAddModal('expense')" class="flex items-center justify-center text-gray-700 bg-primary-700  focus:ring-4 focus:ring-gray-200 font-medium border hover:bg-gray-100  border-gray-200 rounded-lg text-sm px-4 py-2">
                        <img src="../../../assets/pages/launches/despesa.png" alt="Despesa" width="30" height="30" style="margin-right: 8px">
                        Despesa
                    </button>
                    <div class="flex items-center space-x-3 w-full md:w-auto">
                       
                        <button id="filterDropdownButton" data-dropdown-toggle="filterDropdown" class="w-full md:w-auto flex items-center justify-center py-2 px-4 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-primary-700 focus:z-10 focus:ring-4 focus:ring-gray-200" type="button">
                            <svg xmlns="http://www.w3.org/2000/svg" aria-hidden="true" class="h-4 w-4 mr-2 text-gray-400" viewbox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M3 3a1 1 0 011-1h12a1 1 0 011 1v3a1 1 0 01-.293.707L12 11.414V15a1 1 0 01-.293.707l-2 2A1 1 0 018 17v-5.586L3.293 6.707A1 1 0 013 6V3z" clip-rule="evenodd" />
                            </svg>
                            Filtrar
                            <svg class="-mr-1 ml-1.5 w-5 h-5" fill="currentColor" viewbox="0 0 20 20" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
                                <path clip-rule="evenodd" fill-rule="evenodd" d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z" />
                            </svg>
                        </button>
                        <div id="filterDropdown" class="z-10 hidden w-48 p-3 bg-white rounded-lg shadow dark:bg-gray-700">
                            <ul class="space-y-2 text-sm" aria-labelledby="filterDropdownButton">
                                <li class="flex items-center">
                                    <input id="todos" type="radio" name="all" value="all" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-launchesScreenGreen focus:ring-green-500" [(ngModel)]="selectedFilterOption">
                                    <label for="todos" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">Todos</label>
                                </li>
                                <li class="flex items-center">
                                    <input id="despesa" type="radio" name="tipo" value="expense" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-launchesScreenGreen focus:ring-green-500" [(ngModel)]="selectedFilterOption">
                                    <label for="despesa" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">Despesa</label>
                                </li>
                                <li class="flex items-center">
                                    <input id="receita" type="radio" name="tipo" value="incoming" class="w-4 h-4 bg-gray-100 border-gray-300 rounded text-launchesScreenGreen focus:ring-green-500" [(ngModel)]="selectedFilterOption">
                                    <label for="receita" class="ml-2 text-sm font-medium text-gray-900 dark:text-gray-100">Receita</label>
                                </li>
                                
                            </ul>
                            
                            
                        </div>
                    </div>
                </div>
            </div>

           <ng-container>

          
            <div class="overflow-x-auto md:overflow-hidden">
                        <app-month-selector (monthYearChanged)="onMonthYearChanged($event)"  [selectedMonth]="selectedMonth"
                        [selectedYear]="selectedYear"></app-month-selector>
                
                <table class="w-full text-sm text-left text-gray-500 ">
                    
                    <thead class="text-xs text-gray-700 uppercase bg-gray-50">
                        <tr>
                            <th scope="col" class="px-4 py-3">Nome</th>
                            <th scope="col" class="px-4 py-3">Tipo</th>
                            <th scope="col" class="px-4 py-3">Categoria</th>
                            <th scope="col" class="px-4 py-3">Data</th>
                            <th scope="col" class="px-4 py-3">Valor</th>
                            <th scope="col" class="px-4 py-3"></th>
        
                        </tr>
                    </thead>
                    <tbody>
                       

                        <tr *ngFor="let item of items | item:filterText  | option:selectedFilterOption | monthYearFilter:selectedMonth:selectedYear; let i = index" class="border-b cursor-pointer hover:bg-gray-100"
                            [attr.data-row-id]="i" (click)="openModal(item)">

                            
                            <td class="px-4 py-4 font-medium text-gray-900 whitespace-nowrap ">{{ item.name }}</td>
                            <td class="px-4 py-4 font-medium text-gray-900 whitespace-nowrap ">{{ item.amount< 0 ? 'Despesa' : 'Receita ' }} </td>
                            

                            <td class="px-4 py-5">
                                <ng-container >
                                    @switch (item.category) { 
                                        @case ("Alimentação") {
                                            <img  src="../../../assets/pages/launches/categories-icons/food.png" alt="Alimentação" class="inline-block w-6 h-6 mr-2">
                                          } 
                                          @case ("Assinaturas e serviços") {
                                            <img  src="../../../assets/pages/launches/categories-icons/service.png" alt="Assinaturas e Serviços" class="inline-block w-6 h-6 mr-2">
                                          } 
                                         
                                          @case ("Casa") {
                                            <img  src="../../../assets/pages/launches/categories-icons/house.png" alt="Casa" class="inline-block w-6 h-6 mr-2">
                                        } 
                                          @case ("Compras") {
                                            <img src="../../../assets/pages/launches/categories-icons/purchase.png" alt="Compras" class="inline-block w-6 h-6 mr-2">
                                        } 
                                          @case ("Cuidados pessoais") {
                                            <img  src="../../../assets/pages/launches/categories-icons/selfcare.png" alt="Cuidados Pessoais" class="inline-block w-6 h-6 mr-2">
                                        } 
                                          @case ("Dívidas e empréstimos") {
                                            <img  src="../../../assets/pages/launches/categories-icons/loan.png" alt="Dívidas e Empréstimos" class="inline-block w-6 h-6 mr-2">
                                        } 
                                        @case ("Empréstimos") {
                                            <img  src="../../../assets/pages/launches/categories-icons/loan.png" alt="Empréstimos" class="inline-block w-6 h-6 mr-2">
                                        }
                                          @case ("Educação") {
                                            <img  src="../../../assets/pages/launches/categories-icons/education.png" alt="Educação" class="inline-block w-6 h-6 mr-2">
                                        } 
                                        @case ("Família") {
                                            <img  src="../../../assets/pages/launches/categories-icons/family.png" alt="Família" class="inline-block w-6 h-6 mr-2">
                                        } 
                                        @case ("Impostos") {
                                            <img  src="../../../assets/pages/launches/categories-icons/tax.png" alt="Impostos" class="inline-block w-6 h-6 mr-2">
                                        } 
                                        @case ("Investimento") {
                                            <img  src="../../../assets/pages/launches/categories-icons/investiment.png" alt="Investimentos" class="inline-block w-6 h-6 mr-2">
                                        } 
                                        @case ("Lazer") {
                                            <img  src="../../../assets/pages/launches/categories-icons/entertainment.png" alt="Lazer" class="inline-block w-6 h-6 mr-2">
                                        } 
                                        @case ("Mercado") {
                                            <img  src="../../../assets/pages/launches/categories-icons/market.png" alt="Mercado" class="inline-block w-6 h-6 mr-2">
                                        } 
                                        @case ("Pets") {
                                            <img  src="../../../assets/pages/launches/categories-icons/pet.png" alt="Pet" class="inline-block w-6 h-6 mr-2">
                                        } 
                                        @case ("Presentes") {
                                            <img  src="../../../assets/pages/launches/categories-icons/presente.png" alt="Presentes" class="inline-block w-6 h-6 mr-2">
                                        } 
                                        @case ("Restaurantes") {
                                            <img  src="../../../assets/pages/launches/categories-icons/restaurante.png" alt="Restaurantes" class="inline-block w-6 h-6 mr-2">
                                        } 
                                        @case ("Saúde") {
                                            <img  src="../../../assets/pages/launches/categories-icons/saude.png" alt="Saúde" class="inline-block w-6 h-6 mr-2">
                                        }
                                        @case ("Transporte") {
                                            <img  src="../../../assets/pages/launches/categories-icons/transporte.png" alt="Transporte" class="inline-block w-6 h-6 mr-2">
                                        }
                                        @case ("Viagem") {
                                            <img  src="../../../assets/pages/launches/categories-icons/viagem.png" alt="Viagem" class="inline-block w-6 h-6 mr-2">
                                        }
                                        @case ("Salário") {
                                            <img  src="../../../assets/pages/launches/categories-icons/salary.png" alt="Salário" class="inline-block w-6 h-6 mr-2">
                                        }
                                        @case ("Outros") {
                                            <img  src="../../../assets/pages/launches/categories-icons/another.png" alt="Outras" class="inline-block w-6 h-6 mr-2">
                                        }
                                           
                                        } 
                                    </ng-container>
                                
                                <span class="inline-block">{{ item.category }}</span>
                              </td>
                              
                              
                            <td class="px-4 py-5" *ngIf="item.amount > 0"> {{ item.launch_date | date:'dd/MM/yyyy' }}  </td>
                            <td class="px-4 py-5" *ngIf="item.amount < 0"> {{ item.expiration_date | date:'dd/MM/yyyy' }}  </td>
                            <td class="px-4 py-5"  [ngClass]="{'text-launchesScreenRed': item.amount < 0, 'text-launchesScreenGreen': item.amount > 0}">{{  item.amount  | currency:'BRL' : 'symbol':'1.2-2'  }}</td>
                            <td *ngIf="item.amount < 0 && item.paid" class="relative group">
                                <div px-4 py-5></div>
                                <img class="w-6 h-6" src="../../../assets/pages/launches/paid.png" alt="Pago">
                                <span class="invisible group-hover:visible absolute whitespace-nowrap  text-gray-500 bg-white text-xs rounded py-1 px-2 -mt-8 left-1/2 transform -translate-x-1/2">
                                  Pago
                                </span>
                              </td>
                              <td *ngIf="item.amount < 0 && !item.paid" class="relative group">
                                <div px-4 py-5></div>
                                <img class="w-6 h-6" src="../../../assets/pages/launches/unpaid.png" alt="Não Pago">
                                <span class="invisible group-hover:visible absolute whitespace-nowrap  text-gray-500 bg-white  text-xs rounded py-1 px-2 -mt-8 left-1/2 transform -translate-x-1/2">
                                  Não Pago
                                </span>
                              </td>
                              <td *ngIf="item.amount >0" class="relative group">
                               
                              </td>
                              



                       
                            
                        </tr>
                        
                    </tbody>
                </table>

                <div class="text-xl text-center mt-4">

                    
                    <p>Saldo Mensal Previsto: 
                        <span [ngClass]="{'text-launchesScreenGreen': saldoPrevisto >= 0, 'text-launchesScreenRed': saldoPrevisto < 0}">
                          {{ saldoPrevisto | currency:'BRL' : 'symbol':'1.2-2' }}
                        </span>
                      </p>
                    </div>
                  
                  
            </div>
        </ng-container>
           
            
           


        <!-- Add Modal -->
        <div class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 flex justify-center items-center h-full" tabindex="-1" *ngIf="showAddModal">
            <div class="absolute inset-0 bg-black bg-opacity-30 backdrop-blur-sm"></div>
            <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
                <div class="relative p-4 bg-white rounded-lg shadow ">
                    <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 ">
                        <h3 class="text-lg font-semibold text-gray-900 ">
                            Adicionar {{itemType == 'incoming' ? 'Receita':'Despesa'}}
                            
                        </h3>
                        <button type="button" (click)="closeAddModal()" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="defaultModal">
                            <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                            <span class="sr-only">Close modal</span>
                        </button>
                    </div>
                    
                    

                    <form  (ngSubmit)="addItem()">
                        <div class="grid gap-4 mb-4 sm:grid-cols-2">
                            <ng-container *ngIf="itemType == 'incoming'">
                                <div>
                                    <label for="incomingName" class="block mb-2 text-text-xl font-medium text-gray-500 ">Nome</label>
                                    <input type="text" id="incomingName" [(ngModel)]="incoming.name" name="name"  class="block w-full px-4 py-2 text-sm text-gray-900 bg-white border border-gray-300 rounded-lg focus:outline-none focus:border-primaryGreen focus:ring-1 focus:ring-primaryGreen" />

                                </div>
                                <div>
                                    <label for="newIncomingAmount" class="block mb-2 text-text-xl font-medium text-gray-500 dark:text-white">Valor</label>
                                    <input type="number" id="newIncomingAmount" [(ngModel)]="incoming.amount" name="amount" class="block w-full px-4 py-2 text-sm text-gray-900 bg-white border border-gray-300 rounded-lg focus:outline-none focus:border-primaryGreen focus:ring-1 focus:ring-primaryGreen " placeholder="R$"/>
                                </div>
                                <div>
                                    <label for="incomingData" class="block mb-2 text-text-xl font-medium text-gray-500 dark:text-white">Data</label>
                                    <input type="date" id="incomingData" [value]="actualIncomingDate" name="launch_date" class="block w-full px-4 py-2 text-sm text-gray-900 bg-white border border-gray-300 rounded-lg focus:outline-none focus:border-primaryGreen focus:ring-1 focus:ring-primaryGreen " disabled/>

                                </div>
                                <div>
                                    <label for="incomingCategory" class="block mb-2 text-text-xl font-medium text-gray-500 ">Categoria</label>
                                    <select id="category" [(ngModel)]="incoming.category" name="category" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:outline-none focus:border-primaryGreen focus:ring-1 focus:ring-primaryGreen block w-full p-2.5">
                                        <option value="" disabled selected></option>
                                        <option value="Empréstimos">Empréstimos</option>
                                        <option value="Salário">Salário</option>
                                        <option value="Investimento">Investimento</option>
                                        <option value="Outros">Outros</option>
                                    </select>
                                </div>
                        
                         
                                <div class="sm:col-span-2">
                                    <label for="newIncomingDescription" class="block mb-2 text-text-xl font-medium text-gray-500 ">Descrição</label>
                                    <textarea id="description" [(ngModel)]="incoming.description" name="description"rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:outline-none focus:border-primaryGreen focus:ring-1 focus:ring-primaryGreen "></textarea>                    
                                </div>
                               
                            </ng-container>
                            <ng-container *ngIf="itemType == 'expense'">
                                <div>
                                    <label for="expenseName" class="block mb-2 text-text-xl font-medium text-gray-500 ">Nome</label>
                                    <input type="text" id="expenseName" [(ngModel)]="expense.name" name="name" class="block w-full px-4 py-2 text-sm text-gray-900 bg-white border border-gray-300 rounded-lg focus:outline-none focus:border-primaryGreen focus:ring-1 focus:ring-primaryGreen" />
                                </div>
                                <div>
                                    <label for="expenseAmount" class="block mb-2 text-text-xl font-medium text-gray-500 dark:text-white">Valor</label>
                                    <input type="number" id="expenseAmount" [(ngModel)]="expense.amount" name="amount" class="block w-full px-4 py-2 text-sm text-gray-900 bg-white border border-gray-300 rounded-lg focus:outline-none focus:border-primaryGreen focus:ring-1 focus:ring-primaryGreen " placeholder="R$"/>
                                </div>
                                <div>
                                    <label for="expenseData" class="block mb-2 text-text-xl font-medium text-gray-500 dark:text-white">Data de vencimento</label>
                                    <input type="date" id="expenseData" [(ngModel)]="expense.expiration_date" name="expiration_date" class="block w-full px-4 py-2 text-sm text-gray-900 bg-white border border-gray-300 rounded-lg focus:border-primaryGreen focus:ring-1 focus:ring-primaryGreen" />
                                </div>
                                <div>
                                    <label for="expenseData" class="block mb-2 text-text-xl font-medium text-gray-500 dark:text-white">Data de pagamento</label>
                                    <input type="date" id="expenseData" [(ngModel)]="expense.payment_date" name="payment_date" class="block w-full px-4 py-2 text-sm text-gray-900 bg-white border border-gray-300 rounded-lg focus:border-primaryGreen focus:ring-1 focus:ring-primaryGreen" />
                                </div>
                                <div>
                                    <label for="expenseStatus" class="block mb-2 text-text-xl font-medium text-gray-500 ">Status</label>
                                    <select id="expenseStatus" [(ngModel)]="expense.paid" name="status" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 focus:border-primaryGreen focus:ring-1 focus:ring-primaryGreen">
                                        <option value="" disabled selected></option>
                                        <option [ngValue]="true">Pago</option>
                                        <option [ngValue]="false">Não Pago</option>

                                    </select>
                                </div>
                                <div>
                                    <label for="expenseCategory" class="block mb-2 text-text-xl font-medium text-gray-500 ">Categoria</label>
                                    <select id="expense" [(ngModel)]="expense.category" name="category" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-primary-500 focus:border-primary-500 block w-full p-2.5 focus:border-primaryGreen focus:ring-1 focus:ring-primaryGreen">
                                        <option value="" disabled selected></option>
                                        <option value="Alimentação">Alimentação</option>
                                        <option value="Assinaturas e serviços">Assinaturas e serviços</option>
                                        <option value="Casa">Casa</option>
                                        <option value="Compras">Compras</option>
                                        <option value="Cuidados pessoais">Cuidados pessoais</option>
                                        <option value="Dívidas e empréstimos">Dívidas e empréstimos</option>
                                        <option value="Educação">Educação</option>
                                        <option value="Família">Família</option>
                                        <option value="Impostos">Impostos</option>
                                        <option value="Investimento">Investimento</option>
                                        <option value="Lazer">Lazer</option>
                                        <option value="Mercado">Mercado</option>
                                        <option value="Pets">Pets</option>
                                        <option value="Presentes">Presentes</option>
                                        <option value="Restaurantes">Restaurantes</option>
                                        <option value="Saúde">Saúde</option>
                                        <option value="Transporte">Transporte</option>
                                        <option value="Viagem">Viagem</option>
                                        <option value="Outros">Outros</option>
                                        
    
                                    </select>
                                </div>
                        
                         
                                <div class="sm:col-span-2">
                                    <label for="newIncomingDescription" class="block mb-2 text-text-xl font-medium text-gray-500 ">Descrição</label>
                                    <textarea id="description" [(ngModel)]="expense.description" name="description"rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:border-primaryGreen focus:ring-1 focus:ring-primaryGreen "></textarea>                    
                                </div>
                               
                            </ng-container>
                            
                        </div>
                        <button type="submit" class="text-gray-600 inline-flex items-center bg-gray-100 hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">
                            <svg class="mr-1 -ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                            Adicionar 
                        </button>
                    </form>
                
                    
                </div>
                
            </div>
        </div>


     <!-- View item modal -->
     <div class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 flex justify-center items-center h-full " tabindex="-1" *ngIf="showModal">
        <div class="absolute inset-0 bg-black bg-opacity-30 backdrop-blur-sm "></div>
        <div class="relative p-4 w-full max-w-md max-h-full">
            
            <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                    <h5 class="text-xl font-semibold text-gray-900 "> 
                        {{itemType == 'incoming' ? 'Receita':'Despesa'}}
                   </h5>
                    <button type="button" class="close" aria-label="Fechar" (click)="closeModal()">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="p-4 md:p-5">
                    <form class="space-y-4">
                        <div class="grid gap-4 mb-4 sm:grid-cols-2">
                            
                            <ng-container *ngIf="itemType == 'incoming'">
                                <div>
                                    <label for="incomingName" class="block mb-2 text-text-xl font-medium text-gray-700 ">Nome</label>
                                    <label for="incomingName" class="block mb-2 text-text-xl font-medium text-gray-500 ">{{selectedItem.name}}</label>
                                </div>
                                <div>
                                    <label for="newIncomingAmount" class="block mb-2 text-text-xl font-medium text-gray-700 ">Valor</label>
                                    <label for="newIncomingAmount" class="block mb-2 text-text-xl font-medium text-gray-500 ">{{ selectedItem.amount | currency:'BRL' : 'symbol':'1.2-2'}}</label>
                                </div>
                                <div>
                                    <label for="incomingData" class="block mb-2 text-text-xl font-medium text-gray-700">Data</label>
                                    <label for="incomingData" class="block mb-2 text-text-xl font-medium text-gray-500 ">{{ selectedItem.launch_date | date:'dd/MM/yyyy' }}  </label>
                                </div>
                                <div>
                                    <label for="incomingCategory" class="block mb-2 text-text-xl font-medium text-gray-700 ">Categoria</label>
                                    <label for="incomingCategory" class="block mb-2 text-text-xl font-medium text-gray-500 ">{{selectedItem.category}}</label>
                                </div>
                        
                         
                                <div class="sm:col-span-2">
                                    <label for="incomingDescription" class="block mb-2 text-text-xl font-medium text-gray-700 ">Descrição</label>
                                    <label for="incomingDescription" class="block mb-2 text-text-xl font-medium text-gray-500 ">{{selectedItem.description}}</label>

                                </div>
                               
                            </ng-container>
                            <ng-container *ngIf="itemType == 'expense'">
                                <div>
                                    <label for="expenseName" class="block mb-2 text-text-xl font-medium text-gray-700 ">Nome</label>
                                    <label for="expenseName" class="block mb-2 text-text-xl font-medium text-gray-500 ">{{selectedItem.name}}</label>
                                </div>
                                <div>
                                    <label for="expenseAmount" class="block mb-2 text-text-xl font-medium text-gray-700 ">Valor</label>
                                    <label for="expenseAmount" class="block mb-2 text-text-xl font-medium text-gray-500 ">{{ getAbsoluteValue(selectedItem.amount)  | currency:'BRL' : 'symbol':'1.2-2'}}</label>
                                </div>
                                <div>
                                    <label for="expenseDataExp" class="block mb-2 text-text-xl font-medium text-gray-700">Data de vencimento</label>
                                    <label for="expenseDataExp" class="block mb-2 text-text-xl font-medium text-gray-500 ">{{ selectedItem.expiration_date | date:'dd/MM/yyyy' }}  </label>
                                </div>
                                <div>
                                    <label for="expenseDataPayment" class="block mb-2 text-text-xl font-medium text-gray-700">Data de pagamento</label>
                                    <label for="expenseDataPayment" class="block mb-2 text-text-xl font-medium text-gray-500 ">{{ selectedItem.payment_date | date:'dd/MM/yyyy' }}  </label>
                                </div>
                                <div>
                                    <label for="expenseStatus" class="block mb-2 text-text-xl font-medium text-gray-700">Status</label>
                                    <label for="expenseStatus" class="block mb-2 text-text-xl font-medium text-gray-500 "> {{ selectedItem.paid ? 'Pago' : 'Não pago' }}    </label>
                                </div>
                                <div>
                                    <label for="expenseCategory" class="block mb-2 text-text-xl font-medium text-gray-700 ">Categoria</label>
                                    <label for="expenseCategory" class="block mb-2 text-text-xl font-medium text-gray-500 ">{{selectedItem.category}}</label>
                                </div>
                        
                         
                                <div class="sm:col-span-2">
                                    <label for="expenseDescription" class="block mb-2 text-text-xl font-medium text-gray-700 ">Descrição</label>
                                    <label for="expenseDescription" class="block mb-2 text-text-xl font-medium text-gray-500 ">{{selectedItem.description}}</label>

                                </div>
                               
                            </ng-container>
                            
                        </div>
                        <div class="flex justify-end">
                            <button  (click)="openEditModal()" class="flex items-center w-auto text-gray-700 m-2  hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center  ">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-5 h-5 mr-2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m16.862 4.487 1.687-1.688a1.875 1.875 0 1 1 2.652 2.652L6.832 19.82a4.5 4.5 0 0 1-1.897 1.13l-2.685.8.8-2.685a4.5 4.5 0 0 1 1.13-1.897L16.863 4.487Zm0 0L19.5 7.125" />
                                </svg> Editar 
                            </button>
    
                            <button  (click)="deleteItem()" class="flex items-center w-auto text-gray-700 m-2  hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center  ">
                                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="#ea6d6d" class="w-5 h-5 mr-2">
                                    <path stroke-linecap="round" stroke-linejoin="round" d="m14.74 9-.346 9m-4.788 0L9.26 9m9.968-3.21c.342.052.682.107 1.022.166m-1.022-.165L18.16 19.673a2.25 2.25 0 0 1-2.244 2.077H8.084a2.25 2.25 0 0 1-2.244-2.077L4.772 5.79m14.456 0a48.108 48.108 0 0 0-3.478-.397m-12 .562c.34-.059.68-.114 1.022-.165m0 0a48.11 48.11 0 0 1 3.478-.397m7.5 0v-.916c0-1.18-.91-2.164-2.09-2.201a51.964 51.964 0 0 0-3.32 0c-1.18.037-2.09 1.022-2.09 2.201v.916m7.5 0a48.667 48.667 0 0 0-7.5 0" />
                                  </svg>
                                    Apagar 
                            </button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>  

      
      <!-- Edit item Modal -->
      <div class="overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 flex justify-center items-center h-full" tabindex="-1" *ngIf="showEditModal">
        <div class="absolute inset-0 bg-black bg-opacity-30 backdrop-blur-sm"></div>
        <div class="relative p-4 w-full max-w-2xl h-full md:h-auto">
            <div class="relative p-4 bg-white rounded-lg shadow dark:bg-gray-800 sm:p-5">
                <div class="flex justify-between items-center pb-4 mb-4 rounded-t border-b sm:mb-5 dark:border-gray-600">
                    <h3 class="text-lg font-semibold text-gray-900 dark:text-white">
                        Atualizar  {{itemType == 'incoming' ? 'Receita':'Despesa'}}
                    </h3>
                    <button type="button"  (click)="closeEditModal()" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm p-1.5 ml-auto inline-flex items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-toggle="defaultModal">
                        <svg aria-hidden="true" class="w-5 h-5" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M4.293 4.293a1 1 0 011.414 0L10 8.586l4.293-4.293a1 1 0 111.414 1.414L11.414 10l4.293 4.293a1 1 0 01-1.414 1.414L10 11.414l-4.293 4.293a1 1 0 01-1.414-1.414L8.586 10 4.293 5.707a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg>
                        <span class="sr-only">Close modal</span>
                    </button>
                </div>
                
                

                <form  (ngSubmit)="updateItem()">
                    <div class="grid gap-4 mb-4 sm:grid-cols-2">
                        <ng-container *ngIf="itemType == 'incoming'">
                            <div>
                                <label for="incomingName" class="block mb-2 text-text-xl font-medium text-gray-500 ">Nome</label>
                                <input type="text" id="incomingName" [(ngModel)]="editItem.name" name="name" class="block w-full px-4 py-2 text-sm text-gray-900 bg-white border border-gray-300 rounded-lg focus:border-primaryGreen focus:ring-1 focus:ring-primaryGreen" />
                            </div>
                            <div>
                                <label for="newIncomingAmount" class="block mb-2 text-text-xl font-medium text-gray-500 dark:text-white">Valor</label>
                                <input type="number"  id="newIncomingAmount" [(ngModel)]="editItem.amount"  name="amount" class="block w-full px-4 py-2 text-sm text-gray-900 bg-white border border-gray-300 rounded-lg focus:border-primaryGreen focus:ring-1 focus:ring-primaryGreen " placeholder="R$"/>
                            </div>
                            <div>
                                <label for="incomingData" class="block mb-2 text-text-xl font-medium text-gray-500 dark:text-white">Data</label>
                                <input type="date" id="incomingData" [(ngModel)]="editItem.launch_date"  name="launch_date" class="block w-full px-4 py-2 text-sm text-gray-900 bg-white border border-gray-300 rounded-lg focus:border-primaryGreen focus:ring-1 focus:ring-primaryGreen" />
                            </div>
                            <div>
                                <label for="incomingCategory" class="block mb-2 text-text-xl font-medium text-gray-500 ">Categoria</label>
                                <select id="category" [(ngModel)]="editItem.category" name="category" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-primaryGreen focus:ring-1 focus:ring-primaryGreen block w-full p-2.5">
                                    <option value="" disabled selected></option>
                                    <option value="Empréstimos">Empréstimos</option>
                                    <option value="Salário">Salário</option>
                                    <option value="Investimento">Investimento</option>
                                    <option value="Outros">Outros</option>
                                </select>
                            </div>
                    
                     
                            <div class="sm:col-span-2">
                                <label for="newIncomingDescription" class="block mb-2 text-text-xl font-medium text-gray-500 ">Descrição</label>
                                <textarea id="description" [(ngModel)]="editItem.description" name="description"rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-white rounded-lg border border-gray-300 focus:border-primaryGreen focus:ring-1 focus:ring-primaryGreen "></textarea>                    
                            </div>
                           
                        </ng-container>

                        <ng-container *ngIf="itemType == 'expense'">
                            <div>
                                <label for="expenseName" class="block mb-2 text-text-xl font-medium text-gray-500 ">Nome</label>
                                <input type="text" id="expenseName" [(ngModel)]="editItem.name" name="name" class="block w-full px-4 py-2 text-sm text-gray-900 bg-white border border-gray-300 rounded-lg focus:border-primaryGreen focus:ring-1 focus:ring-primaryGreen" />
                            </div>
                            <div>
                                <label for="expenseAmount" class="block mb-2 text-text-xl font-medium text-gray-500 dark:text-white">Valor</label>
                                <input type="number" id="expenseAmount" [(ngModel)]="editItem.amount"  name="amount" class="block w-full px-4 py-2 text-sm text-gray-900 bg-white border border-gray-300 rounded-lg  focus:border-primaryGreen focus:ring-1 focus:ring-primaryGreen" placeholder="R$"/>
                            </div>
                            <div>
                                <label for="expenseData" class="block mb-2 text-text-xl font-medium text-gray-500 dark:text-white">Data de vencimento</label>
                                <input type="date" id="expenseData" [(ngModel)]="editItem.expiration_date" name="expiration_date" class="block w-full px-4 py-2 text-sm text-gray-900 bg-white border border-gray-300 rounded-lg focus:border-primaryGreen focus:ring-1 focus:ring-primaryGreen" />
                            </div>
                            <div>
                                <label for="expenseData" class="block mb-2 text-text-xl font-medium text-gray-500 dark:text-white">Data de pagamento</label>
                                <input type="date" id="expenseData" [(ngModel)]="editItem.payment_date" name="payment_date" class="block w-full px-4 py-2 text-sm text-gray-900 bg-white border border-gray-300 rounded-lg focus:border-primaryGreen focus:ring-1 focus:ring-primaryGreen" />
                            </div>
                            <div>
                                <label for="expenseStatus" class="block mb-2 text-text-xl font-medium text-gray-500 ">Status</label>
                                <select id="expenseStatus" [(ngModel)]="editItem.paid" name="paid" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-primaryGreen focus:ring-1 focus:ring-primaryGreen block w-full p-2.5">
                                    <option value="" disabled selected></option>
                                    <option [ngValue]="true">Pago</option>
                                    <option [ngValue]="false">Não Pago</option>

                                </select>
                            </div>
                            <div>
                                <label for="expenseCategory" class="block mb-2 text-text-xl font-medium text-gray-500 ">Categoria</label>
                                <select id="expense" [(ngModel)]="editItem.category" name="category" class="bg-white border border-gray-300 text-gray-900 text-sm rounded-lg focus:border-primaryGreen focus:ring-1 focus:ring-primaryGreen block w-full p-2.5">
                                    <option value="" disabled selected></option>
                                    <option value="Alimentação">Alimentação</option>
                                    <option value="Assinaturas e serviços">Assinaturas e serviços</option>
                                    <option value="Casa">Casa</option>
                                    <option value="Compras">Compras</option>
                                    <option value="Cuidados pessoais">Cuidados pessoais</option>
                                    <option value="Dívidas e empréstimos">Dívidas e empréstimos</option>
                                    <option value="Educação">Educação</option>
                                    <option value="Família">Família</option>
                                    <option value="Impostos">Impostos</option>
                                    <option value="Investimento">Investimento</option>
                                    <option value="Lazer">Lazer</option>
                                    <option value="Mercado">Mercado</option>
                                    <option value="Pets">Pets</option>
                                    <option value="Presentes">Presentes</option>
                                    <option value="Restaurantes">Restaurantes</option>
                                    <option value="Saúde">Saúde</option>
                                    <option value="Transporte">Transporte</option>
                                    <option value="Viagem">Viagem</option>
                                    <option value="Outros">Outros</option>
                                </select>
                            </div>
                    
                     
                            <div class="sm:col-span-2">
                                <label for="newIncomingDescription" class="block mb-2 text-text-xl font-medium text-gray-500 ">Descrição</label>
                                <textarea id="description" [(ngModel)]="editItem.description" name="description"rows="4" class="block p-2.5 w-full text-sm text-gray-900 bg-gray-50 rounded-lg border border-gray-300 focus:border-primaryGreen focus:ring-1 focus:ring-primaryGreen"></textarea>                    
                            </div>
                           
                        </ng-container>
                        
                        
                    </div>
                    <button  class="text-gray-600 inline-flex items-center bg-gray-100 hover:bg-gray-200 focus:ring-4 focus:outline-none focus:ring-primary-300 font-medium rounded-lg text-sm px-5 py-2.5 text-center ">
                        <svg class="mr-1 -ml-1 w-6 h-6" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10 5a1 1 0 011 1v3h3a1 1 0 110 2h-3v3a1 1 0 11-2 0v-3H6a1 1 0 110-2h3V6a1 1 0 011-1z" clip-rule="evenodd"></path></svg>
                        Atualizar 
                    </button>
    
                   
                   
                     
                     
                </form>
            
                
            </div>
            
        </div>
    </div>
        


        
             
    
        </div>
    </div>

    
</section> 