      
     <div class="p-4 bg-white w-full h-full border border-gray-200 rounded-lg shadow-sm">
      <!-- Título -->
      <h4 class="leading-none text-2xl font-bold text-gray-600 dark:text-white pb-1">Próximas contas a vencer
        <button data-popover-target="popover-description" data-popover-placement="bottom-end" type="button">
          <svg class="w-4 h-4 ml-2 text-gray-400 hover:text-gray-500" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <path fill-rule="evenodd" d="M18 10a8 8 0 11-16 0 8 8 0 0116 0zm-8-3a1 1 0 00-.867.5 1 1 0 11-1.731-1A3 3 0 0113 8a3.001 3.001 0 01-2 2.83V11a1 1 0 11-2 0v-1a1 1 0 011-1 1 1 0 100-2zm0 8a1 1 0 100-2 1 1 0 000 2z" clip-rule="evenodd"></path>
          </svg>
          <span class="sr-only">Show information</span>
        </button>
      </h4>
      <!-- Popover de descrição -->
      <div data-popover id="popover-description" role="tooltip" class="absolute z-10 invisible inline-block text-sm font-light text-gray-500 transition-opacity duration-300 bg-white border border-gray-200 rounded-lg shadow-sm opacity-0 w-72 dark:bg-gray-800 dark:border-gray-600 dark:text-gray-400">
        <div class="p-3 space-y-2">
          <h3 class="font-semibold text-gray-900 dark:text-white">Próximas contas </h3>
          <p>As próximas contas são as aquelas registradas com data posterior à data atual</p>
          <a href="#" class="flex items-center font-medium text-primary-600 dark:text-primary-500 dark:hover:text-primary-600 hover:text-primary-700">
            Ver todas as despesas 
            <svg class="w-4 h-4 ml-1" aria-hidden="true" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path>
            </svg>
          </a>
        </div>
        <div data-popper-arrow></div>
      </div>
      <!-- Lista de despesas -->
      <div class="border-t border-gray-200">
        <div class="pt-4">
          <ul class="divide-y divide-gray-200">
            <li class="py-6 sm:py-6 hover:bg-gray-100 m-2 p-2" *ngFor="let expense of expenses"> <!-- Alterado de py-4 para py-6 -->
              <div class="flex items-center justify-between">
                <div class="flex items-center min-w-0 space-x-4">
                  <p class="font-medium text-gray-900 truncate">{{ expense.date }}</p>
                  <div class="ml-10">
                    <p class="font-medium text-gray-900 truncate">{{ expense.description }}</p>
                  </div>
                </div>
                <div class="inline-flex items-center text-base font-semibold text-gray-900 dark:text-white">
                  {{ expense.value | currency: 'BRL' : 'symbol':'1.2-2' }}
                </div>
              </div>
            </li>
          </ul>
        </div>
      </div>
    
    
      
         

      
        <!-- Card Footer -->
        <div class="flex items-center justify-between pt-3 mt-5 border-t border-gray-200 sm:pt-6 dark:border-gray-700">
          
          <div class="flex-shrink-0">
           
          </div>
        </div>
  </div>